<header class="container-fluid"></header>
    <nav class="navbar navbar-light bg-light">
            <a class="navbar-brand">N-Resume</a>
            <form class="form-inline">
              <!-- <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"> -->
              <button class="btn btn-success btn_clr my-2 my-sm-0" type="submit">SIgnUp</button>
            </form>
          </nav>

          <div class="bg_grd container-fluid centeralign">
            
          
                      <p class="text_pos">Pick a resume template below that represents your skills and work experience the best. Our ATS-friendly resume templates are developed together with recruiters and employers, so you are sure you are putting your best foot forward when applying for a job position.</p>
          </div>

                      
            
            
       
    </header>
    
    <main class="container-fluid bgrnd">
    
        <div class="container">
            <div class="row">
                <div class="col-4"> <div class="card" style="width: 18rem;">
                        <img src="../../assets/1.png" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Classic</h5>
                          <a href="temp1.html"" class="btn btn-block btn-secondary">Build</a>
                        </div>
                      </div></div>

                      <div class="col-4"> <div class="card" style="width: 18rem;">
                            <img src="../../assets/1.png" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">Classic</h5>
                              <a href="../../assets/1.png" class="btn btn-block btn-secondary">Build</a>
                            </div>
                          </div></div>

                          <div class="col-4"> <div class="card" style="width: 18rem;">
                                <img src="./assets/1.png" class="card-img-top" alt="...">
                                <div class="card-body">
                                  <h5 class="card-title">Classic</h5>
                                  <a href="temp1.html" class="btn btn-block btn-secondary">Build</a>
                                </div>
                              </div></div>
        </div>
                     
                    
        </div>
    </main>
    <footer class="container-fluid bg_grd centeralign">
        <hr>
                    <p class="text_pos"><b>Resume Templates That Will Land You a Dream Job!</b></p>
                               
                
    </footer>
